@import url('https://fonts.cdnfonts.com/css/minecraft-4');

html {
    scroll-behavior: smooth;
}

body, .portfolio, .portfolio-box, .portfolio-txt, .portfolio-box img, .portfolio-box iframe, .portfolio-box a, .navbar-title a, .switch-bar {
    cursor: url('img/cursor.png'), auto;
}

h5:hover, .txt:hover, .navbar-links a:hover {
    cursor: url('img/cursor2.png'), auto;
}

body {
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Minecraft', sans-serif;
    align-items: center;
    height: 100vh;
    background-color: white;
    color: black;
    margin: 0;
    transition: background-color 0.75s;
    overflow-x: hidden;
}

body.night-mode {
    background-color: black;
    color: white;
    text-shadow: none;
    .top{
        background-image: url(img/night.jpg);
    }
    .portfolio-txt, .navbar ,.switch-txt {
        text-shadow: 0 0 8px white;
        color: inherit;
    }
    .portfolio-box{
        box-shadow: 0 0 8px white;
    }
    .top-face {
        box-shadow: 0 0 8px white;
    }
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.navbar-title {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: inherit;
    a {
        color: inherit;
        text-decoration: none;
    }
}



.navbar-title:hover {
    color: #ffd54f;
    font-size: 28px;
    padding: 6px;
    transition: 0.3s;
    a{
        cursor: url('img/cursor2.png'), auto;
    }
}

.navbar-links {
    margin: 0;
    list-style: none;
    display: flex;
}

.navbar-links li {
    padding: 14px;
    margin-left: 20px;
}

.navbar-links a {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
}

.navbar-links a:hover {
    color: #ffd54f;
    font-size: 24px;
    li{
        padding: 10px;
        background-color: #8b8b8b;
    }
    transition: 0.3s;
}

.top {
    transition: 0.3s;
    position: absolute;
    height: 50%;
    width: 100%;
    background-image: url(img/day.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-position-x: 0%;
    background-position-y: 0%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.top-face {
    position: relative;
    right: -30%;
    border-radius: 50%;
    transform: translateY(50%);
    width: 200px;
    height: 200px;
    transition: 0.3s;
    z-index:1;
    box-shadow: 0 0 8px black;
    transition: 0.3s;
}

.top-face:hover {
    cursor: url('img/cursor2.png'), auto;
    width: 240px;
    height: 240px;
}

.portfolio{
    top: 50%;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0%;
    transition: 0s;
    position: absolute;
}

.portfolio-box, .portfolio-box-default{
    margin-left: 4%;
    margin-top: 30px;
    border-radius: 15px;
    width: 32%;
    height: 36%;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 0 8px black;
    img,iframe{
        width: 100%;
        height: 100%;
    }
    transition: 0.6s;
}

.portfolio-box{
    left: -100%;
}

.portfolio-box-default{
    left: 0%;
}

.portfolio-txt {
    font-weight: lighter;
    position: absolute;
    left: 40%;
    color: inherit;
    transition: 0.3s;
    h5{
        color: inherit;
        width: fit-content;
        font-weight: lighter;
        margin-bottom: 30px;
        font-size: 30px;
        transition: 0.3s;
    }
    h5:hover{
        font-size: 36px;
        cursor: url('img/cursor2.png'), auto;
        color: #ffd54f;
    }
    .txt{
        color: inherit;
        text-decoration: none;
        width: fit-content;
        position: relative;
        padding: 5px;
        font-size: 20px;
    }
    .txt:hover{
        text-decoration: none;
        font-size: 24px;
        cursor: url('img/cursor2.png'), auto;
        color: #ffd54f;
        transition: 0.3s;
    }
    a{
        color: inherit;
        text-decoration: none;
    }
}

.switch{
    padding-bottom: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 150%;
}

.switch-bar {
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    background: linear-gradient(to right, #bbdefb 0%, #ffd54f 50%, #ffeb3b 100%);
    transition: 0.3s;
}

.switch-bar:hover {
    cursor: url('img/cursor2.png'), auto;
    width: 180px;
    height: 60px;
    .cloud1 {
        top: 40px;
        left: 80px;
    }
    .cloud2 {
        top: 30px;
        left: 115px;
    }
    .cloud3 {
        top: 25px;
        left: 130px;
    }
    .switch-bar.active {
        .cloud1 {
            left: 55px;
        }
        .cloud2 {
            left: 30px;
        }
        .cloud3 {
            left: 5px;
        }
    }
}

.switch-txt {
    padding-top: 5px;
}

.switch-bar.active {
    background: linear-gradient(to right, #bbdefb 0%, #0d47a1 50%, #1a237e 100%);
}

.cloud {
    position: absolute;
    align-items: center;
    width: 60px;
    height: 40px;
    background: #e1f5fe;
    border-radius: 50% 50% 0 0;
    transition: left 0.3s;
}
.cloud1 {
    top: 40px;
    left: 50px;
}
.cloud2 {
    top: 30px;
    left: 75px;
}
.cloud3 {
    top: 25px;
    left: 100px;
}
.switch-bar.active {
    .cloud1 {
        left: 40px;
    }
    .cloud2 {
        left: 15px;
    }
    .cloud3 {
        left: -10px;
    }
}

.toggle {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: #ffeb3b;
    border-radius: 50%;
    transition: left 0.3s, background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px white;
}

.switch-bar.active .toggle {
    left: 25%;
    background: #bbdefb;
    box-shadow: 0 0 8px #2e73ab;
}

.moon, .sun {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.moon {
    display: none;
    background: #bbdefb;
}

.switch-bar.active .sun {
    display: none;
}

.switch-bar.active .moon {
    display: block;
}

.crater {
    position: absolute;
    background: #e1f5fe;
    border-radius: 50%;
}

.crater1 {
    width: 11px;
    height: 11px;
    top: 5px;
    left: 13px;
}

.crater2 {
    width: 6px;
    height: 6px;
    top: 15px;
    left: 7px;
}

.crater3 {
    width: 8px;
    height: 8px;
    top: 18px;
    left: 15px;
}

/* RWD */
@media (max-width: 1200px) {
    .top-face {
        width: 160px;
        height: 160px;
    }
    .top-face:hover {
        width: 192px;
        height: 192px;
    }

    .portfolio-box, .portfolio-box-default {
        width: 40%;
        height: 200px;
    }

    .portfolio-txt{
        font-size: 15px;
        left: 50%;
    }
}

@media (max-width: 768px) {
    .top {
        height: 30%;
    }
    .top-face {
        width: 120px;
        height: 120px;
    }
    .top-face:hover {
        width: 144px;
        height: 144px;
    }

    .portfolio{
        top: 40%;
    }

    .portfolio-box, .portfolio-box-default {
        width: 50%;
        height: 200px;
    }

    .portfolio-txt{
        font-size: 15px;
        left: 65%;
    }
}

@media (max-width: 480px) {
    .top {
        height: 25%;
    }

    .top-face {
        left: 0%;
    }

    .portfolio-box, .portfolio-box-default{
        width: 80%;
        margin-left: 10%;
    }

    .portfolio-txt {
        top: 30%;
        left: 10%;
    }

    .navbar-title {
        font-size: 16px;
    }

    .navbar-links {
        flex-direction: column;
    }

    .navbar-links li {
        padding: 8px;
    }

    .navbar-links a {
        font-size: 14px;
    }
}




